<header class="header">
    <img src="images/header/header-img.jpg" alt="image" class="header__img-outside">
    <div class="container">
        <div class="header__inner">
            <div class="header__content">
                <img src="images/svg/icon-home.svg" alt="icon-home" class="header__content-icon">
                <h1 class="header__content-title">Строим деревянные дома для жизни</h1>
                <p class="header__content-text">Уже построили 847 домов
                    и бань по всей России</p>
            </div>
            <ul class="header__list">
                <li class="header__list-item">
                    <img src="images/svg/icon-medal.svg" alt="icon" class="header__list-img">
                    <p class="header__list-text">14 лет
                        на рынке</p>
                </li>
                <li class="header__list-item">
                    <img src="images/svg/icon-lamp.svg" alt="icon" class="header__list-img">
                    <p class="header__list-text">Полный цикл
                        производства</p>
                </li>
                <li class="header__list-item">
                    <img src="images/svg/icon-garanty.svg" alt="icon" class="header__list-img">
                    <p class="header__list-text">Гарантия на все
                        наши дома</p>
                </li>
            </ul>
            <img src="images/header/header-img.jpg" alt="image" class="header__img">
        </div>
    </div>

</header>