<section class="garanties">
    <div class="container">
        <div class="garanties__inner">
            <div class="garanties__content">
                <h4 class="garanties__content-title">Гарантии нашей <br>компании</h4>
                <ul class="garanties__list">
                    <li class="garanties__list-item">
                        <h6 class="garanties__list-title">Персональный менеджер</h6>
                        <p class="garanties__list-subtext">Вы может получить консультацию по любому вопросу у своего менеджера</p>
                    </li>
                    <li class="garanties__list-item">
                        <h6 class="garanties__list-title">Оплата по факту выполненных работ</h6>
                        <p class="garanties__list-subtext">Мы уверены в том, что наша работа вам понравится, поэтому не берем предоплату</p>
                    </li>
                    <li class="garanties__list-item">
                        <h6 class="garanties__list-title">Доставка и разгрузка материала</h6>
                        <p class="garanties__list-subtext">Все не приятные хлопоты берем на себя, вы лишь оцениваете результат</p>
                    </li>
                    <li class="garanties__list-item">
                        <h6 class="garanties__list-title">Закупка всех материалов</h6>
                        <p class="garanties__list-subtext">Мы самостоятельно доставим материалы на объект</p>
                    </li>
                    <li class="garanties__list-item">
                        <h6 class="garanties__list-title">Гарантийный ремонт и устранение недостатков</h6>
                        <p class="garanties__list-subtext">Гарантийный период на все выявленные недостатки устраняются в максимально кротчайшие сроки</p>
                    </li>
                    <li class="garanties__list-item">
                        <h6 class="garanties__list-title">Качественное строительство</h6>
                        <p class="garanties__list-subtext">Берем за свои услуги ровно столько, сколько это стоит, гарантируя качественное строительство</p>
                    </li>
                </ul>
            </div>
            <div class="garanties__promo">
                <a class="garanties__promo-link" href="#">
                    <img src="images/garanties/garanties-;romo.png" alt="image" class="garanties__promo-img">
                </a>
            </div>
        </div>
    </div>
</section>