<section class="service">
    <div class="container">
        <div class="service__inner">
            <h4 class="service__title title">
                Услуги
            </h4>
            <p class="service__text">Компания Legno Domus занимается строительством уютных и прочных деревянных домов. Но, кроме того, мы берем на себя выполнение и других услуг, включая меблировку зданий и устройство коммуникаций.</p>
            <p class="service__offer-subtitle">Вы можете заказать у нас:</p>
            <ul class="service-list">
                <li class="service-list__item">
                    <span class="service-list__counter"></span>
                    <p class="service-list__subtitle">Монтаж сантехники</p>
                    <p class="serive-list__text">Это один из обязательных этапов при постройке домов</p>
                </li>
                <li class="service-list__item">
                    <span class="service-list__counter"></span>
                    <p class="service-list__subtitle">Монтаж отопления</p>
                    <p class="serive-list__text">От данного момента также зависит безопасность и удобство проживания в здании</p>
                </li>
                <li class="service-list__item">
                     <span class="service-list__counter"></span>
                    <p class="service-list__subtitle">Установка канализации</p>
                    <p class="serive-list__text">Мы обеспечиваем в дальнейшем комфортное использование монтированных нами коммуникаций</p>
                </li>
                <li class="service-list__item">
                     <span class="service-list__counter"></span>
                    <p class="service-list__subtitle">Монтаж электрики</p>
                    <p class="serive-list__text">Мы не допустим ошибок при установке, поэтому вы можете не беспокоиться о безопасности в доме</p>
                </li>
                <li class="service-list__item">
                     <span class="service-list__counter"></span>
                    <p class="service-list__subtitle">Установка заборов</p>
                    <p class="serive-list__text">Установка заборов различной формы, что дает возможность выбрать подходящий вариант для клиента</p>
                </li>
                <li class="service-list__item">
                     <span class="service-list__counter"></span>
                    <p class="service-list__subtitle">Меблировка дома</p>
                    <p class="serive-list__text">Мы отвечаем за уют в вашем жилье и делаем его пригодным и комфортным для жизни</p>
                </li>
            </ul>
            <p class="service__subtext">Обратившись в Legno Domus, можно получить полный спектр качественных услуг, которые обеспечивают комфортное проживание в доме.</p>
            <div class="service-link">
                <div class="service-link__box-item">
                    <p class="service-link__item-title">Индивидуальное проектирование</p>
                    <a href="#" class="service-link__box-link">Перейти в раздел</a>
                </div>
                <div class="service-link__box-item">
                    <p class="service-link__item-title">Строительство в кредит</p>
                    <a href="#" class="service-link__box-link">Перейти в раздел</a>
                </div>
                <div class="service-link__box-item">
                    <p class="service-link__item-title">Инженерные коммуникации</p>
                    <a href="#" class="service-link__box-link">Перейти в раздел</a>
                </div>
            </div>
        </div>
    </div>
</section>