<section class="comments">
    <div class="container">
        <h3 class="comments__title title">Отзывы о нас</h3>
        <div class="comments__items">
            <form class="comments-form">
                <p class="comments-form__subtitle">Вы можете оставить отзыв о нас
                </p>
                <input type="text" class="projects__form-input" placeholder="Имя">
                <textarea class="comments-form__textarea" placeholder="Текст отзыва"></textarea>
                <button class="comments-form__btn" type="submit">Оставить отзыв</button>
                <p class="projects__form-politicy">Нажимая кнопку «Отправить» вы
                    соглашаетесь
                    с пользовательским соглашением и ознакомились
                    с нашей политикой конфиденциальности</p>
            </form>
            <div class="comments__item">
                <p class="comments__item-text">Построен дом 6×8. Строительством остались довольны.
                    Бригада хорошая. Построили быстро за 21 день.
                    Есть вопросы по регулировке окон. Спасибо компании за строительство.</p>
                <p class="coomments__item-author">Хромова О. И.</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Большое спасибо строительной бригаде,а именно: Косте, Леше и Виталию за ответственность,хорошую работу и быстрые сроки исполнения.Очень рада что обратилась именно в вашу компанию. Огромное спасибо роман вы отличный менеджер. Ребята с вами хочется строить еще</p>
                 <p class="coomments__item-author">Белова Н.С.</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                 <p class="coomments__item-author">Юлия</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Все продолжил снова подзаголовок она точках речью вопроса языком прямо ты взгляд они обеспечивает живет лучше подпоясал пояс свой, наш выйти образ путь. Рыбными, заголовок строчка семь курсивных выйти города единственное пунктуация коварных пор проектах большой заманивший безопасную страну буквенных своих ручеек возвращайся, живет он.</p>
                 <p class="coomments__item-author">Беглова A.С.</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                 <p class="coomments__item-author">Юлия</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                 <p class="coomments__item-author">Юлия</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Все продолжил снова подзаголовок она точках речью вопроса языком прямо ты взгляд они обеспечивает живет лучше подпоясал пояс свой, наш выйти образ путь. Рыбными, заголовок строчка семь курсивных выйти города единственное пунктуация коварных пор проектах большой заманивший безопасную страну буквенных своих ручеек возвращайся, живет он.</p>
                 <p class="coomments__item-author">Беглова A.С.</p>
            </div>
            <div class="comments__item">
                <p class="comments__item-text">Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                 <p class="coomments__item-author">Юлия</p>
            </div>
        </div>
    </div>
</section>