<section class="review">
    <div class="container">
        <div class="review__inner">
            <h2 class="review__title title">Отзывы о нашей <br> работе</h2>
            <div class="review-slider__wrapper">
                <div class="review-slider slider-container">

                    <div class="review-slider__item">
                        <p class="review-slider__address">СНТ «Шугарово-5»
                            Каркасный дом 115 м2</p>
                        <p class="review-slider__text">Далеко-далеко за, словесными горами в стране гласных
                            и согласных живут рыбные тексты. Проектах курсивных мир они парадигматическая то
                            повстречался. Ты страна послушавшись, семантика имеет не точках большой домах,
                            единственное мир силуэт имени.</p>
                        <p class="review-slider__text">Далеко-далеко за словесными горами, в стране гласных
                            и согласных живут рыбные тексты.</p>
                        <p class="review-slider__author"></p>

                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__text">Заказывали дом 6×8. Рабочие ребята молодцы,
                            справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам
                            большое мы очень довольны. Советую всем заказывать здесь.</p>
                        <p class="review-slider__author">Юлия</p>
                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__text">Далеко-далеко за, словесными горами в стране гласных
                            и согласных живут рыбные тексты. Переулка оксмокс что диких, текст гор он
                            реторический скатился маленькая напоивший приставка использовало.</p>
                        <p class="review-slider__author">Юлия</p>
                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__address">СНТ «Шугарово-5»
                            Каркасный дом 115 м2</p>
                        <p class="review-slider__text">Далеко-далеко за, словесными горами в стране гласных
                            и согласных живут рыбные тексты. Проектах курсивных мир они парадигматическая то
                            повстречался. Ты страна послушавшись, семантика имеет не точках большой домах,
                            единственное мир силуэт имени.</p>
                        <p class="review-slider__text">Далеко-далеко за словесными горами, в стране гласных
                            и согласных живут рыбные тексты.</p>
                        <p class="review-slider__author"></p>

                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__text">Заказывали дом 6×8. Рабочие ребята молодцы,
                            справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам
                            большое мы очень довольны. Советую всем заказывать здесь.</p>
                        <p class="review-slider__author">Юлия</p>
                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__text">Построен дом 6×8. Строительством остались довольны.
                            Бригада хорошая. Построили быстро за 21 день.
                            Есть вопросы по регулировке окон. Спасибо компании за строительство.</p>
                        <p class="review-slider__author">Хромова О. И.</p>
                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__address">СНТ «Шугарово-5»
                            Каркасный дом 115 м2</p>
                        <p class="review-slider__text">Далеко-далеко за, словесными горами в стране гласных
                            и согласных живут рыбные тексты. Проектах курсивных мир они парадигматическая то
                            повстречался. Ты страна послушавшись, семантика имеет не точках большой домах,
                            единственное мир силуэт имени.</p>
                        <p class="review-slider__text">Далеко-далеко за словесными горами, в стране гласных
                            и согласных живут рыбные тексты.</p>
                        <p class="review-slider__author"></p>

                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__text">Заказывали дом 6×8. Рабочие ребята молодцы,
                            справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам
                            большое мы очень довольны. Советую всем заказывать здесь.</p>
                        <p class="review-slider__author">Юлия</p>
                    </div>
                    <div class="review-slider__item">
                        <p class="review-slider__address">СНТ «Шугарово-5»
                            Каркасный дом 115 м2</p>
                        <p class="review-slider__text">Далеко-далеко за, словесными горами в стране гласных
                            и согласных живут рыбные тексты. Проектах курсивных мир они парадигматическая то
                            повстречался. Ты страна послушавшись, семантика имеет не точках большой домах,
                            единственное мир силуэт имени.</p>
                        <p class="review-slider__text">Далеко-далеко за словесными горами, в стране гласных
                            и согласных живут рыбные тексты.</p>
                        <p class="review-slider__author"></p>

                    </div>
                </div>

                <div class="review-counter counter-slider">
                    <img src="images/svg/icon-gallery.svg" alt="icon">
                    <div class="review-slider-counter counter-slider__count">
                        <span class="review-slider__count-current counter-slider__current">1</span>-
                        <span class="review-slider__counter-totall counter-slider__totall">9</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>