<secttion class="recomendation">
    <div class="container">
        <div class="recomendation__inner">
            <h4 class="recomendation__title">Зарекомендовашие <br> себя проекты</h4>
            <div class="recomendation-wrapper" id="1">
                <div class="recomendation-slider recomendation-slider--one slider-container">
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>

                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="recomendation-slider__counter counter-slider">
                    <img src="images/svg/icon-gallery.svg" alt="icon">
                    <div class="recomendation-slider-counter counter-slider__count">
                        <span class="recomendation-slider__count-current counter-slider__current--one">1</span>/
                        <span class="recomendation-slider__counter-totall counter-slider__totall--one"></span>
                    </div>
                </div>
                <div class="recomendation__box">
                    <h6 class="recomendation__box-title">Дом из профилированного бруса 6.0м×9.0м ЛД-48</h6>
                    <dl class="recomendation__box-chars">
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Серия:</dt>
                            <dd class="recomendation__box-val">Полутораэтажный</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Технология:</dt>
                            <dd class="recomendation__box-val">Брус</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Размер:</dt>
                            <dd class="recomendation__box-val">6.0 × 9.0</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Дополнительно:</dt>
                            <dd class="recomendation__box-val"> Терраса</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Количество комнат:</dt>
                            <dd class="recomendation__box-val">5+</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Площадь:</dt>
                            <dd class="recomendation__box-val">96 м2</dd>
                        </div>
                    </dl>
                    <div class="recomendation__box-price">2 950 000 ₽</div>
                    <a href="#" class="recomendation__box-link">Подробности</a>
                </div>
            </div>
            <div class="recomendation-wrapper" id="2">
                <div class="recomendation-slider recomendation-slider--second slider-container">
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-2.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-2.jpg" alt="image">
                        </div>
                    </div>

                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-2.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-2.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="recomendation-slider__counter counter-slider" >
                    <img src="images/svg/icon-gallery.svg" alt="icon">
                    <div class="recomendation-slider-counter counter-slider__count">
                        <span class="recomendation-slider__count-current counter-slider__current--second">1</span>/
                        <span class="recomendation-slider__counter-totall counter-slider__totall--second"></span>
                    </div>
                </div>
                <div class="recomendation__box">
                    <h6 class="recomendation__box-title">Дом из профилированного бруса 6.0м×9.0м ЛД-48</h6>
                    <dl class="recomendation__box-chars">
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Серия:</dt>
                            <dd class="recomendation__box-val">Полутораэтажный</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Технология:</dt>
                            <dd class="recomendation__box-val">Брус</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Размер:</dt>
                            <dd class="recomendation__box-val">6.0 × 9.0</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Дополнительно:</dt>
                            <dd class="recomendation__box-val"> Терраса</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Количество комнат:</dt>
                            <dd class="recomendation__box-val">5+</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Площадь:</dt>
                            <dd class="recomendation__box-val">96 м2</dd>
                        </div>
                    </dl>
                    <div class="recomendation__box-price">2 950 000 ₽</div>
                    <a href="#" class="recomendation__box-link">Подробности</a>
                </div>
            </div>
            <div class="recomendation-wrapper" id="3">
                <div class="recomendation-slider recomendation-slider--third slider-container">
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>

                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-1.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="recomendation-slider__counter counter-slider">
                    <img src="images/svg/icon-gallery.svg" alt="icon">
                    <div class="recomendation-slider-counter counter-slider__count">
                        <span class="recomendation-slider__count-current counter-slider__current--third">1</span>/
                        <span class="recomendation-slider__counter-totall counter-slider__totall--third"></span>
                    </div>
                </div>
                <div class="recomendation__box">
                    <h6 class="recomendation__box-title">Дом из профилированного бруса 6.0м×9.0м ЛД-48</h6>
                    <dl class="recomendation__box-chars">
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Серия:</dt>
                            <dd class="recomendation__box-val">Полутораэтажный</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Технология:</dt>
                            <dd class="recomendation__box-val">Брус</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Размер:</dt>
                            <dd class="recomendation__box-val">6.0 × 9.0</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Дополнительно:</dt>
                            <dd class="recomendation__box-val"> Терраса</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Количество комнат:</dt>
                            <dd class="recomendation__box-val">5+</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Площадь:</dt>
                            <dd class="recomendation__box-val">96 м2</dd>
                        </div>
                    </dl>
                    <div class="recomendation__box-price">2 950 000 ₽</div>
                    <a href="#" class="recomendation__box-link">Подробности</a>
                </div>
            </div>
            <div class="recomendation-wrapper" id="4">
                <div class="recomendation-slider slider-container recomendation-slider--fourth">
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-4.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-4.jpg" alt="image">
                        </div>
                    </div>

                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-4.jpg" alt="image">
                        </div>
                    </div>
                    <div class="recomendation-slider__item">
                        <div class="recomendation__slider-img">
                            <img src="images/recomendation/recomendation-4.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <div class="recomendation-slider__counter counter-slider">
                    <img src="images/svg/icon-gallery.svg" alt="icon">
                    <div class="recomendation-slider-counter counter-slider__count">
                        <span class="recomendation-slider__count-current counter-slider__current--fourth">1</span>/
                        <span class="recomendation-slider__counter-totall counter-slider__totall--fourth"></span>
                    </div>
                </div>
                <div class="recomendation__box">
                    <h6 class="recomendation__box-title">Дом из профилированного бруса 6.0м×9.0м ЛД-48</h6>
                    <dl class="recomendation__box-chars">
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Серия:</dt>
                            <dd class="recomendation__box-val">Полутораэтажный</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Технология:</dt>
                            <dd class="recomendation__box-val">Брус</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Размер:</dt>
                            <dd class="recomendation__box-val">6.0 × 9.0</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Дополнительно:</dt>
                            <dd class="recomendation__box-val"> Терраса</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Количество комнат:</dt>
                            <dd class="recomendation__box-val">5+</dd>
                        </div>
                        <div class="recomendation__box-item">
                            <dt class="recomendation__box-term">Площадь:</dt>
                            <dd class="recomendation__box-val">96 м2</dd>
                        </div>
                    </dl>
                    <div class="recomendation__box-price">2 950 000 ₽</div>
                    <a href="#" class="recomendation__box-link">Подробности</a>
                </div>
            </div>
        </div>
    </div>
</secttion>