<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__info">
                <div class="footer__info-box">
                    <h3 class="footer__info-title title">Несколько слов о нас</h3>
                    <p class="footer__info-text">Компания Legno Domus занимается строительством домов из дерева в
                        Москве и Московской области. На нашем сайте вы сможете найти готовые типовые проекты
                        каркасных и брусовых деревянных сооружений. Кроме того, мы можем построить здание любого
                        типа сложности по вашему индивидуальному проекту.</p>
                </div>
                <img src="images/footer/info-img.jpg" alt="image" class="footer__info-img">
            </div>
            <div class="footer__lists">
                <ul class="footer__list list-benefits">
                    <li class="footer__list-item">
                        <p class="footer__list-item-subtitle">Преимущества сотрудничества с нами</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Мы самостоятельно занимаемся производством и подготовкой
                            древесины для постройки, используя для этого современное оборудование, что существенно
                            снижает цену строительных материалов</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Мы самостоятельно осуществляем доставку и разгрузку на
                            объекте в Москве или Подмосковье</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Мы сами выполняем закупку всех сопутствующих материалов
                        </p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Нашими руками построено уже более 800 деревянных домов и
                            бань</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Нашими руками построено уже более 800 деревянных домов и
                            бань</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Опыт наших мастеров в домостроении позволяет завершить
                            постройку в четко установленный срок</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Мы даем гарантию до двух лет на нашу работу и устраним
                            возможные неполадки в течение гарантийного срока</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">Оплата нашей работы осуществляется по ее завершении</p>
                    </li>
                </ul>
                <ul class="footer__list list-offers">
                    <li class="footer__list-item">
                        <p class="footer__list-item-subtitle">Предложение компании Legno Domus</p>
                        <p class="footer__list-item-subtext">Вы можете заказать строительство следующих вариантов
                            деревянных домов и коттеджей:</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">каркасных;</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">выполненных из бруса;</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">выполненных из бревен;
                        </p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">домов с выпускными чашами;</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">бань различных типов.</p>
                    </li>
                    <li class="footer__list-item footer__list-item--two">
                        <p class="footer__list-item-subtext">Мы осуществляем постройку сооружений различной
                            этажности и размеров. Помимо непосредственного возведения деревянных домов, мы выполняем
                            следующие виды работ:</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">подведение канализации;</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">монтаж электрики, отопления и сантехники;</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">установку заборов;</p>
                    </li>
                    <li class="footer__list-item">
                        <p class="footer__list-item-text">меблировку.</p>
                    </li>
                </ul>
            </div>
            <div class="footer__extra">
                <p class="footer__extra-text">Для получения более подробной информации по строительству домов под
                    ключ вы можете позвонить нам по телефону. Персональный менеджер поможет рассчитать примерную
                    стоимость постройки и ответит на все интересующие вопросы.</p>
                <div class="footer__extra-box">
                    <a href="#" class="footer__extra-box-link">
                        <svg class="svg-icon-mobPhone-dims">
                            <use xlink:href="images/sprite.svg#icon-mobPhone">
                            </use>
                        </svg>
                        +7 495 902 61 04
                    </a>
                    <div class="footer__extra-box-address">
                        Москва, Каширское шоссе, владение 63, корпус 1, строение 52
                        Режим работы выставки с 10:00 до 20:00
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>