<section class="contacts">
    <div class="container">
        <div class="contacts__inner">
            <h4 class="contacts__title title">Контакты</h4>
            <div class="contacts__items">
                 <div class="contacts__item contacts__item--mobmanager">
                    <p class="contacts__item-subtitle">Мобильный менеджер</p>
                    <ul class="contacts__item-list">
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-tel">+ (917) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-whatsup">+ (917) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-viber">+ (917) <span>показать</span>, Евгений</a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="mailto:info@legnodomus.ru" class="contacts__list-link contacts__link-post"><span>info@legnodomus.ru</span></a>
                        <li class="contacts__list-item">
                            <p class="contacts__item-worktime">Режим работы с 10:00 до 20:00</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__item contacts__item--office-1">
                    <p class="contacts__item-subtitle">Офис №1</p>
                    <ul class="contacts__item-list">
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-tel">+ (917) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-whatsup">+ (917) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-viber">гор.тел.Москва +7 (495) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="mailto:info@legnodomus.ru" class="contacts__list-link contacts__link-address">Москва, Каширское шоссе, владение 63, корпус 1, строение 52</a>
                        </li>
                        <li class="contacts__list-item">
                            <p class="contacts__item-worktime">Режим работы с 10:00 до 20:00</p>
                        </li>
                    </ul>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4225.475879252818!2d37.62070619891287!3d55.66894438093854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab3431abff873%3A0x8990d6bac250ff7d!2sLegnodomus!5e0!3m2!1sru!2sby!4v1698354066901!5m2!1sru!2sby" width="377" height="322" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="contacts__item contacts__item--office-2">
                    <p class="contacts__item-subtitle">Офис №2</p>
                    <ul class="contacts__item-list">
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-tel">+ (917) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-whatsup">+ (917) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="tel:744773573636" class="contacts__list-link contacts__link-viber">гор.тел.Москва +7 (495) <span>показать</span></a>
                        </li>
                        <li class="contacts__list-item">
                            <a href="mailto:info@legnodomus.ru" class="contacts__list-link contacts__link-address">Москва, Каширское шоссе, владение 63, корпус 1, строение 52</a>
                        </li>
                        <li class="contacts__list-item">
                            <p class="contacts__item-worktime">Режим работы с 10:00 до 20:00</p>
                        </li>
                    </ul>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4225.475879252818!2d37.62070619891287!3d55.66894438093854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab3431abff873%3A0x8990d6bac250ff7d!2sLegnodomus!5e0!3m2!1sru!2sby!4v1698354066901!5m2!1sru!2sby" width="456" height="322" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>