<section class="offer">
    <div class="container">
        <div class="offer__inner">
            <h4 class="offer__title">Возможно вас заинтересуют эти проекты</h4>
            <div class="offer__items projects__items">
                 <div class="projects__item offer__item">
                <img src="images/product/item-3.jpg" alt="image"
                    class="product__item-img">
                <div class="products__item-inner">
                    <h5 class="projects__item-title products__item-title">Дом из
                        оцилиндрованного бревна
                        5.2м×7.6м ОЦБ1</h5>
                    <div class="projects__item-info projects__item-info">
                        <p
                            class="projects__item-info-item projects__item-area projects__item-price">
                            145 м2</з>
                        <p
                            class="projects__item-info-item products__item-price projects__item-price">
                            2 950 000 ₽</p>
                        <a href="#"
                            class="projects__item-info-item products__item-link projects__item-link">Подробности...</a>
                    </div>
                </div>
            </div>
            <div class="projects__item product__item">
                <img src="images/product/item-3.jpg" alt="image"
                    class="product__item-img">
                <div class="products__item-inner">
                    <h5 class="projects__item-title products__item-title">Дом из
                        оцилиндрованного бревна
                        5.2м×7.6м ОЦБ1</h5>
                    <div class="projects__item-info projects__item-info">
                        <p
                            class="projects__item-info-item projects__item-area projects__item-price">
                            145 м2</з>
                        <p
                            class="projects__item-info-item products__item-price projects__item-price">
                            2 950 000 ₽</p>
                        <a href="#"
                            class="projects__item-info-item products__item-link projects__item-link">Подробности...</a>
                    </div>
                </div>
            </div>
            <div class="projects__item product__item">
                <img src="images/product/item-3.jpg" alt="image"
                    class="product__item-img">
                <div class="products__item-inner">
                    <h5 class="projects__item-title products__item-title">Дом из
                        оцилиндрованного бревна
                        5.2м×7.6м ОЦБ1</h5>
                    <div class="projects__item-info projects__item-info">
                        <p
                            class="projects__item-info-item projects__item-area projects__item-price">
                            145 м2</з>
                        <p
                            class="projects__item-info-item products__item-price projects__item-price">
                            2 950 000 ₽</p>
                        <a href="#"
                            class="projects__item-info-item products__item-link projects__item-link">Подробности...</a>
                    </div>
                </div>
            </div>
            </div>
           
        </div>
    </div>
</section>