<section class="sale">
    <div class="container">
        <div class="sale__inner">
            <h5 class="sale__title title">Замена ондулина на оцинкованный профнастил</h5>
            <div class="sale-item">
                <img src="images/sales/item-1.jpg" alt="image" class="sale-item__img">
                <div class="sale-item__content">
                    <h6 class="sale-item__title">Акция действует до 30 августа
                    </h6>
                    <p class="sale-item__text">При заказе строительства до 30 августа 2020 года вместо ондулина мы бесплатно установим оцинкованный профнастил</p>
                    <p class="sale-item__listsubtitle">Акция действуте при заказе:</p>
                    <ul class="sale-item__list">
                        <li class="sale-item__list-item">
                            Строительство дома
                        </li>
                        <li class="sale-item__list-item">
                            Строительство бани
                        </li>
                    </ul>
                    <p class="sale-item__subtext">Уточняйте подробности акции у наших менеджеров.</p>
                    <div class="sale-item__extra">
                        <div class="sale-item__extra-box">
                            <a href="#" class="sale-item__extra-box-link">
                                <svg class="svg-icon-mobPhone-dims">
                                    <use xlink:href="images/sprite.svg#icon-mobPhone">
                                    </use>
                                </svg>
                                +7 495 902 61 04
                            </a>
                            <div class="sale-item__extra-box-address">
                                Москва, Каширское шоссе, владение 63, корпус 1, строение 52
                                Режим работы выставки с 10:00 до 20:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>