<div class="sales">
    <div class="container">
        <div class="sales__inner">
            <h4 class="sales__title title">Акции</h4>
            <ul class="sales__list">
                <li class="sales__list-item">
                    <img src="images/sales/item-1.jpg" alt="image" class="sales__list-img">
                    <div class="sales__list-content">
                        <h5 class="sales__list-title">Замена ондулина на оцинкованный профнастил</h5>
                        <p class="sales__list-text">Акция действует до 30 августа</p>
                        <a href="sale.html" class="sales__list-link">Подробности</a>
                    </div>
                </li>
                <li class="sales__list-item">
                    <img src="images/sales/item-2.jpg" alt="image" class="sales__list-img">
                    <div class="sales__list-content">
                        <h5 class="sales__list-title">Строим по материнскому капиталу</h5>
                        <p class="sales__list-text">Вы можете оплатить строительство используя материнский
                            капитал</p>
                        <a href="sale.html" class="sales__list-link">Подробности</a>
                    </div>
                </li>
                <li class="sales__list-item">
                    <img src="images/sales/item-3.jpg" alt="image" class="sales__list-img">
                    <div class="sales__list-content">
                        <h5 class="sales__list-title">Увеличение толщины утеплителя до 100мм в подарок</h5>
                        <p class="sales__list-text">Только до 28 февраля при заказе строительства увеличение
                            толщины утеплителя до 100 мм в подарок</p>
                        <a href="sale.html" class="sales__list-link">Подробности</a>
                    </div>
                </li>
                <li class="sales__list-item">
                    <img src="images/sales/item-1.jpg" alt="image" class="sales__list-img">
                    <div class="sales__list-content">
                        <h5 class="sales__list-title">Замена ондулина на оцинкованный профнастил</h5>
                        <p class="sales__list-text">Акция действует до 30 августа</p>
                        <a href="sale.html" class="sales__list-link">Подробности</a>
                    </div>
                </li>
                <li class="sales__list-item">
                    <img src="images/sales/item-2.jpg" alt="image" class="sales__list-img">
                    <div class="sales__list-content">
                        <h5 class="sales__list-title">Строим по материнскому капиталу</h5>
                        <p class="sales__list-text">Вы можете оплатить строительство используя материнский
                            капитал</p>
                        <a href="sale.html" class="sales__list-link">Подробности</a>
                    </div>
                </li>
                <li class="sales__list-item">
                    <img src="images/sales/item-3.jpg" alt="image" class="sales__list-img">
                    <div class="sales__list-content">
                        <h5 class="sales__list-title">Увеличение толщины утеплителя до 100мм в подарок</h5>
                        <p class="sales__list-text">Только до 28 февраля при заказе строительства увеличение
                            толщины утеплителя до 100 мм в подарок</p>
                        <a href="sale.html" class="sales__list-link">Подробности</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>