<section class="perfomance">
    <div class="container">
        <div class="perfomance__items">
            <div class="perfomance__item">
                <img src="images/perfomance/1-item.png" alt="image" class="perfomance__item-img">
                <h5 class="perfomance__item-title">
                    Дома из бревна
                </h5>
                <p class="perfomance__item-price">от 450 000 ₽</p>
                <a href="#" class="perfomance__item-link">Посмотреть проекты</a>
            </div>
            <div class="perfomance__item">
                <img src="images/perfomance/2-item.png" alt="image" class="perfomance__item-img">
                <h5 class="perfomance__item-title">
                    Дома из бревна
                </h5>
                <p class="perfomance__item-price">от 450 000 ₽</p>
                <a href="#" class="perfomance__item-link">Посмотреть проекты</a>
            </div>
            <div class="perfomance__item">
                <img src="images/perfomance/3-item.png" alt="image" class="perfomance__item-img">
                <h5 class="perfomance__item-title">
                    Каркасные дома
                </h5>
                <p class="perfomance__item-price">от 1 450 000 ₽</p>
                <a href="#" class="perfomance__item-link">Посмотреть проекты</a>
            </div>
            <div class="perfomance__item">
                <img src="images/perfomance/4-item.png" alt="image" class="perfomance__item-img">
                <h5 class="perfomance__item-title">
                    Бани из дерева
                </h5>
                <p class="perfomance__item-price">от 271 000 ₽</p>
                <a href="#" class="perfomance__item-link">Посмотреть проекты</a>
            </div>
        </div>
    </div>
</section>