<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content-info">
                <h4 class="about__title title">О кампании</h4>
                <p class="about__text">Legno Domus — это современная компания, которая успешно осуществляет
                    возведение, продажу и разработку проектов зданий. Все наши сотрудники являются
                    специалистами с высокой квалификацией. У нас клиенты всегда могут получить подробную
                    консультацию насчет выбора заказа, и мы с радостью ответим на все интересующие вопросы
                </p>
                <p class="about__text-extratext">Уже построили более 800 домов и бань
                    по всей России</p>
                <div class="info-list__box">
                    <p class="info-list__box-subtitle">Преимущества сотрудничества с нами</p>
                    <ul class="about__content-info-list info-list">
                        <li class="info-list__item">
                            <p class="info-list__text">Собственное производство и возможность автономного возведения зданий, независимо от других фирм. Поэтому у нас недорогие и качественные дома за короткий срок!</p>
                        </li>
                        <li class="info-list__item">
                            <p class="info-list__text">Высококачественные материалы. Деревянные дома возводятся из экологически чистого сырья без вредных для здоровья добавок.</p>
                        </li>
                        <li class="info-list__item">
                            <p class="info-list__text">Возможность для клиента избавиться от хлопот по доставке и установке, так как все это наши заботы.</p>
                        </li>
                    </ul>
                </div>
                <p class="about__content-text">Обратившись в Legno Domus, можно получить полный спектр качественных услуг, которые обеспечивают комфортное проживание в доме.</p>
                <div class="about-link">
                    <div class="about-link__box-item">
                        <p class="about-link__item-title">Собственное производство</p>
                        <a href="#" class="about-link__box-link">Перейти в раздел</a>
                    </div>
                    <div class="about-link__box-item">
                        <p class="about-link__item-title">Часто задаваемые вопросы</p>
                        <a href="#" class="about-link__box-link">Перейти в раздел</a>
                    </div>
                    <div class="about-link__box-item">
                        <p class="about-link__item-title">Новости</p>
                        <a href="#" class="about-link__box-link">Перейти в раздел</a>
                    </div>
                </div>
            </div>
            <div class="about__content-illustration">
                <img src="images/about/about-img.jpg" alt="image" class="about__content-img">
                <ul class="about__content-illustration-list illustration-list">
                    <li class="illustration-list__item">
                        <img src="images/svg/icon-number-14.svg" alt="icon" class="illusration-list__img">
                        <p class="illusration-list__text">14 лет
                            на рынке</p>
                    </li>
                    <li class="illustration-list__item">
                        <img src="images/svg/icon-lamp.svg" alt="icon" class="illusration-list__img">
                        <p class="illusration-list__text">Полный цикл
                            производства</p>
                    </li>
                    <li class="illustration-list__item">
                        <img src="images/svg/icon-garanty.svg" alt="icon" class="illusration-list__img">
                        <p class="illusration-list__text">Гарантия на все
                            наши дома</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>