<div class="menu-wrapper">
    <div class="container">
        <div class="menu">
            <a href="index.html" class="menu__logo logo">
                <img src="images/svg/logo.svg" alt="logo">
            </a>
            <a href="tel:74959026104" class="menu__number">
                <svg class="svg-icon-phone-dims">
                    <use xlink:href="images/sprite.svg#icon-phone">
                    </use>
                </svg>
                <svg class="svg-icon-mobPhone-dims">
                    <use xlink:href="images/sprite.svg#icon-mobPhone">
                    </use>
                </svg>
                <span>+7 495 902 61 04</span>
            </a>
            <nav class="menu-nav">
                <button class="menu-nav__btn">
                    <img src="images/svg/btn-menu.svg" alt="btn-icon-menu">
                </button>
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="projects.html" class="menu__list-link">Проекты домов</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="service.html" class="menu__list-link">Услуги</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="about.html" class="menu__list-link">О компании</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link">Наши работы</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="comments.html" class="menu__list-link">Отзывы</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="sales.html" class="menu__list-link">Акции</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="contacts.html" class="menu__list-link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <form class="menu__form">
                <input type="search" class="menu__form-input" placeholder="Поиск">
            </form>
            <a href="#" class="menu__link-call">Заказать звонок</a>
            <ul class="menu__sociall">
                <li class="menu__sociall-item">
                    <svg class="svg-instagram-icon-dims">
                        <use xlink:href="images/sprite.svg#instagram-icon">
                        </use>
                    </svg>
                </li>
                <li class="menu__sociall-item">
                    <svg class="svg-vk-icon-dims">
                        <use xlink:href="images/sprite.svg#vk-icon">
                        </use>
                    </svg>
                </li>
                <li class="menu__sociall-item">
                    <svg class="svg-facebook-icon-dims">
                        <use xlink:href="images/sprite.svg#facebook-icon">
                        </use>
                    </svg>
                </li>
            </ul>
            <div class="menu__politicy">
                <a href="#" class="menu__politicy-link">Пользовательское соглашение</a>
                <a href="#" class="menu__politicy-link">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</div>